<md-dialog aria-label="Intelligent Item Help" class="help-menu" layout="column" layout-align="center center">
     <md-content>
          <div><h1>Generating Item Intelligence</h1></div>
          <div>
          <h2>Base Cost</h2>
               The strength and abilities of a <u><i>Item Intelligence</i></u> are largely based on <i>Base Cost</i>. 
               If an item is more expensive, there is a higher probability for more <i>Powers</i> and a higher 
               probability for a <i>Purpose</i> and <i>Dedicated Powers</i>
          </div>
          <div><md-button ng-click="ic.closeDialog()">Close</md-button></div>
     </md-content
</md-dialog>