<md-dialog class="rollerDialog">
<md-content>
<h2 class="md-primary" layout="column" layout-align="center center">Number of items</h2>
<md-list 
    layout="row" layout-align="center center">
    <md-item>
    <md-input-container>
        <label>Get Minor</label>
        <input type="number" ng-model="config.options.numMinor" min=0 max=100 required>
    </md-input-container>
    </md-item>
    <md-item>
    <md-input-container>
        <label>Get Medium</label>
        <input type="number" ng-model="config.options.numMedium" min=0 max=100 required>
    </md-input-container>
    </md-item>
    <md-item>
    <md-input-container>
        <label>Get Major</label>
        <input type="number" ng-model="config.options.numMajor" min=0 max=100 required>
    </md-input-container>
    </md-item>
</md-list>

<h2 class="md-primary" layout="column" layout-align="center center">Item Types</h2>
    <md-list layout="row" layout-wrap>
        <md-item ng-repeat="(name, status) in config.options.displayTypes"
            layout-sm="column" flex-sm="100"
            layout-gt-sm="row" flex-gt-sm="40" ng-if="name != 'Spells'">
            <md-checkbox ng-model="config.options.displayTypes[name]"
                ng-disabled="status == 'disabled'" aria-label={{name}}
                flex="50">
                {{name}}
                <md-tooltip ng-if="status == 'disabled'">
                    Disabled in all sources
                </md-tooltip>
            </md-checkbox>
            <div flex>
                <md-button class="md-raised" flex="20" 
                    ng-disabled="status == 'disabled' || name == 'Rods' || name == 'Staves'" 
                    ng-click="config.getItem('minor', name)">
                    Minor
                </md-button>
                <md-button class="md-raised" flex="20" 
                    ng-disabled="status == 'disabled'" ng-click="config.getItem('medium', name)">
                    Medium
                </md-button>
                <md-button class="md-raised" flex="20" 
                    ng-disabled="status == 'disabled'" ng-click="config.getItem('major', name)">
                    Major
                </md-button>
            </div>
        </md-item>
    </md-list>
    <md-divider></md-divider>

<md-button class="md-primary" ng-click="config.closeDialog('roll')">Roll</md-button>
<md-button class="md-primary" ng-click="config.closeDialog('close')">Close</md-button>
</md-content>

</md-dialog>